{% if liste is empty %}
<p>Aucun résultat</p>
{% else %}
<table>
    <tr><th>id</th><th>date</th><th>culture</th><th>poids</th><th>commentaire</th></tr>
    {% for valeur in liste %}
    <tr><td>{{valeur.id}}</td><td>{{valeur.date | date('d/m/Y')}}</td><td>{{ valeur.culture.libelle }}</td><td>{{valeur.poids}}</td><td>{{valeur.commentaire}}</td></tr>
    {% endfor %}
</table>
{% endif %}