{% extends 'head_extends_base.html.twig' %}
{% block title %}Gestion des Actions - {{ parent() }}{% endblock %}
{% block header %}{{ parent() }} <a href="{{ path('tableau_de_bord') }}"><h1>Gestion des Actions</h1></a>{% endblock %}
{% block contenu %}
    <div class="encart">
        <h2>Liste</h2>
        {% include 'tableau_de_bord/action_list.html.twig' %}
    </div>
    <div class="encart">
    <h2>Créer</h2>
        {{ form_start(form_creer) }}
        {{ form_widget(form_creer) }}
        <div class="form-group"><button type="submit" id="action_creer" name="action[creer]" class="btn-primary btn">Créer</button></div>
        {{ form_end(form_creer) }}
    </div>
    <div class="encart historique">
        <h2>Historique</h2>
        {% include 'tableau_de_bord/historique_list.html.twig' %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}